/.metadata/

# Compiled output
Angular-App/dist
Angular-App/tmp
Angular-App/out-tsc
Angular-App/bazel-out

# Node
Angular-App/node_modules
Angular-App/npm-debug.log
Angular-App/yarn-error.log

# IDEs and editors
Angular-App/.idea/
Angular-App/.project
Angular-App/.classpath
Angular-App/.c9/
Angular-App/*.launch
Angular-App/.settings/
Angular-App/*.sublime-workspace

# Visual Studio Code
Angular-App/.vscode/*
!Angular-App/.vscode/settings.json
!Angular-App/.vscode/tasks.json
!Angular-App/.vscode/launch.json
!Angular-App/.vscode/extensions.json
Angular-App/.history/*

# Miscellaneous
Angular-App/.angular/cache
Angular-App/.sass-cache/
Angular-App/connect.lock
Angular-App/coverage
Angular-App/libpeerconnection.log
Angular-App/testem.log
Angular-App/typings

# System files
Angular-App/.DS_Store
Angular-App/Thumbs.db
