<div class="login-container ">
  <div class="promo-section">
    <div class="promo-content" style="font-family: 'Orbitron', sans-serif">
      <div class="logo">
        <img src="assets/login-logo.png" alt="Vehicle Spare Parts Logo" />
      </div>
      <h1>Vehicle Spare Parts</h1>
      <p>Your trusted partner for quality automotive parts and accessories</p>
      <ul>
        <li>5000+ Parts Available</li>
        <li>24/7 Support</li>
        <li>100% Genuine</li>
      </ul>
      <!-- <div class="promo-buttons">
        <button routerLink="login">Login</button>
        <button routerLink="/register">Register</button>
      </div> -->
      <button (click)="testReouting()">Click Here</button>
    </div>
  </div>

  <div class="form-section">
    <div class="form-box">
      <h2>Welcome Back</h2>
      <p>Sign in to continue to your account</p>

      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <label for="mobile">Mobile Number *</label>
        <input id="mobile" name="mobile" [(ngModel)]="mobile" #fmobileno="ngModel" required minlength="10"
          maxlength="10" pattern="^[0-9]{10}$" placeholder="Enter mobile number here" />
        <span class="text-danger small" *ngIf="fmobileno.touched && fmobileno.errors?.['required']">
          Mobile Number is Required.
        </span>
        <span class="text-danger small" *ngIf="fmobileno.touched && fmobileno.errors?.['minlength']">
          Mobile Number must be 10 digits.
        </span>
        <span class="text-danger small"
          *ngIf="fmobileno.touched && fmobileno.errors?.['pattern'] && mobile.length ==10">
          Only digits are allowed.
        </span>



        <label for="password">Password *</label>
        <input id="password" name="password" type="password" [(ngModel)]="password" #fpwd="ngModel" required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$" minlength="6" placeholder="Enter password" />
        <span class="text-danger small" *ngIf="fpwd.touched && fpwd.errors?.['required']">
          Password is Required.
        </span>
        <span class="text-danger small" *ngIf="fpwd.touched && fpwd.errors?.['minlength']">
          Minimum length is 6.
        </span>
        <span class="text-danger small" *ngIf="fpwd.touched && fpwd.errors?.['pattern'] && password.length >=6">
          Password must contain uppercase, lowercase, and a number.
        </span>

        <a class="forgot-link" routerLink="/forgot-password">Forgot Password?</a>

        <button type="submit">Sign In</button>
      </form>

      <label class="register-link">New User? <a routerLink="/register">Click here to Register</a></label>

      <label class="register-link">
        Are you a seller? &nbsp;<a routerLink="/seller-login">Login to your seller account</a>
      </label>

    </div>
    <footer>© 2025 Vehicle Spare Parts. All rights reserved.</footer>
  </div>
</div>
