<div class="login-container">
    <!-- LEFT SECTION -->
    <div class="left-panel">
        <div class="top-buttons">
            <button class="active" routerLink="/seller-login">Seller Login</button>
            <button routerLink="/seller-register">Seller Register</button>
            <button routerLink="/login">User Login</button>
        </div>

        <div class="brand-section">
            <div class="icon-circle">
                <i class="store-icon">🏪</i>
            </div>

            <h1>AnySpares Seller</h1>
            <p>
                Grow your business by selling quality automotive<br />
                parts to thousands of customers
            </p>

            <div class="stats">
                <div>
                    <h2>10K+</h2>
                    <span>Active Buyers</span>
                </div>
                <div>
                    <h2>500+</h2>
                    <span>Sellers</span>
                </div>
                <div>
                    <h2>24/7</h2>
                    <span>Support</span>
                </div>
            </div>
        </div>
    </div>

    <!-- RIGHT SECTION -->
    <div class="right-panel">
        <div class="login-card">
            <h2>Seller Login</h2>
            <p class="subtitle">
                Sign in to manage your products and orders
            </p>
            <p class="text-danger small" *ngIf="invalidCred">Invalid Credientials</p>

            <form [formGroup]="loginForm" (ngSubmit)="loginAsSeller()">
                <label>Mobile Number *</label>
                <input type="number" placeholder="Enter mobile number" formControlName="mobileNumber" required minlength="10" maxlength="12" />

                <div class="password-row">
                    <label>Password *</label>
                    <a (click)="forgotPassword()">Forgot Password?</a>
                </div>
                <input type="password" placeholder="Enter password"  formControlName="password"/>

                <button class="login-btn" (click)="loginAsSeller()">
                    Sign In as Seller →
                </button>
            </form>

            <div class="links">
                <p>
                    New Seller?
                    <a routerLink="/seller-register">Register Your Business</a>
                </p>
                <p>
                    Looking to buy?
                    <a routerLink="/login">User Login</a>
                </p>
            </div>
        </div>

        <footer>
            © 2025 AnySpares. All rights reserved.
        </footer>
    </div>
</div>